*{
  box-sizing: border-box;
  margin: 0;
  /* DEBUG:  */
  /* border:1px solid black; */
  padding:5px;
}

body, html {
  width: 100%;
  height: 100vh;
  font-family: arial, monospace;
}

#result{
  height: 25px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#n-tuo{
  height: 25px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#n-cpu{
  height: 25px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#somma{
  height: 25px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
